# Ignore the .env folder
.env/
.venv
# Ignore compiled Python files
__pycache__/
resources/images
# Ignore virtual environment folders (commonly used with Python)
venv/
env/

# Ignore log files
*.log

# Ignore database files
*.db

# Ignore IDE-specific files and folders
.idea/
.vscode/
